<h1>Tables</h1>

<div *ngFor="let table of tables">
  <br>
  <h4>Tables Id: <h5>{{table.tablesid}}</h5></h4>

  <h6>Tables Seatingcapacity: <h5>{{table.tablesseats}}</h5> </h6>

  <h2> Tables Location Description: <h5>{{table.tableslocationdescription}}</h5> </h2>

  <button (click)="onBtnDeleteClicked(table)">Delete</button>
  <br>
  <div class="container">
      <ngx-qrcode class="QRCode"
              [elementType]="elementType"
              [errorCorrectionLevel]="correctionLevel"
              [value]=getqrinfo(table)
      ></ngx-qrcode>
  </div>
  <br>
  <button (click)="onBtnQRCodeClicked(table)">Print QR-Code</button>

  <br>
</div>

<p>ID:<input type="number" id="id" name="id" #id></p>

<p>Seating capacity:<input type="number" id="seatingcapacity" name="seatingcapacity" #seatingcapacity></p>

<p>Location capacity:<input type="text" id="locationdescription" name="locationdescription" #locationdescription></p>

<button (click)="onBtnAddClicked(id.valueAsNumber, seatingcapacity.valueAsNumber, locationdescription.value)">Add</button>
<button (click)="onBtnUpdateClicked(id.valueAsNumber, seatingcapacity.valueAsNumber, locationdescription.value)">Update</button>
