<h1 xmlns="http://www.w3.org/1999/html">Menu Items</h1>

<div *ngFor="let menuItem of menuItems">
  <br>
  <h4> Menu Item Id: <h5>{{menuItem.menuitemid}} </h5></h4>

  <h6> Menu Item Name: <h5>{{menuItem.title}}</h5> </h6>

  <h2> Menu Item Description: <h5>{{menuItem.itemdescription}}</h5> </h2>

  <h3>Menu Item Price: <h5>{{menuItem.price}}</h5></h3>

  <h3>Menu Item Allergens: <h5>{{menuItem.menuallergenes}}</h5></h3>

  <h3>Menu Item Category: <h5>{{menuItem.menucategory}}</h5></h3>

  <button (click)="onBtnDeleteClicked(menuItem)">Delete</button>
  <br>
</div>

<p>ID: <input type="number" id="id" name="id" #id></p>

<p>Menu Item Name: <input type="text" id="name" name="name" #name></p>

<p>Menu Item Description: <input type="text" id="description" name="description" #description></p>

<p>Menu Item Price: <input type="number" id="price" name="price" #price></p>

<p>Menu Item Allergens: <input type="text" id="allergenes" name="allergenes" #allergenes></p>

<p>Menu Item Category: <input type="text" id="category" name="category" #category></p>


<button (click)="onBtnAddClicked(id.valueAsNumber, name.value , description.value, price.valueAsNumber, allergenes.value, category.value)">Add</button>
<button (click)="onBtnUpdateClicked(id.valueAsNumber, name.value , description.value, price.valueAsNumber, allergenes.value, category.value)">Update</button>


